@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: hsl(256, 100%, 5%);
    font: 30px sans-serif;
    overflow-x: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer; 
}

.cabeçalho-link a{
    color: #fff;
    font-size: 15px;
}

.cabeçalho-link a:hover{
    color: pink;
    transition: 0.3s all;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15rem;

}

.logo{
    color: pink;
    cursor: pointer; 
    font-size: 35px;
    letter-spacing: 1px; 
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

button{
    color: pink;
    background: transparent;
    border:solid 1px white;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

button:hover{
    background-color: pink;
    color: #fff;
    transition: 0.5s;
}
.container-text{
    padding: 150px 0 0 130px;
}

.text h3{
    color: #fff;
    font-size: 15px;
}

.text h1{
    color: #fff;
    margin-top: 10px;
}

.text p{
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    font-size: 10px;
}

.btn{
    margin-top: 15px;
}

@media screen and (max-width:600px){
    .cabeçalho-link {
        display: none;
    }
    
}
.text-blob {
    font-size: 70px;
    font-family: "Amiko" , sans-serif;
    color: pink;
    background-color: transparent;
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/* fade-in and fade-out animation */
.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}
.fade-out {
    animation: fadeOut ease 5s;
    -webkit-animation: fadeOut ease 5s;
    -moz-animation: fadeOut ease 5s;
    -o-animation: fadeOut ease 5s;
    -ms-animation: fadeOut ease 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}


